<header id="header">
	<nav class="navbar navbar-inverse navbar-fixed-top global-top">
      <div class="container-fluid"> 
        <div class="navbar-header">

        </div>
       
          <ul class="nav navbar-nav navbar-right header-sidemenu">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <?php echo $this->session->get('fname') . ' ' . $this->session->get('lname'); ?>
                      <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">

                      <li><a href="<?= BASE_URI; ?>logout">Logout</a></li>
                  </ul>
              </li>
          </ul>
      </div>
    </nav>
</header>

<div class="dashboard-wrap">
    
        
   
	<ul id="itemContainer" class="dashboard-nav">
            <?php
                $system_access_list_session = $this->session->get('system_access_list');
                foreach ($system_access_list_session as $system_access) { ?>
		<li><!-- 1-->
			<a class="<?php echo $system_access->system_href_id; ?>" href="<?php echo $system_access->system_url; ?>">
				<img class="menu-icon" src="<?=@$baseUri;?><?php echo $system_access->system_icon_location; ?>">
				<span class="menu-name"><?php echo $system_access->system_name; ?></span>
				<span class="menu-desc"><?php echo $system_access->system_desc; ?></span>
			</a>
		</li>
		
             <?php } ?>    
	</ul>
    
	<div class="holder">
        </div>
</div>   

