<div class="index-content">

    <div class="layer">
<div id = "int-logo" class="logo-img"><img src="public/img/intlogo.png"></div>
        <form action="<?= BASE_URI ?>login" method="post" autocomplete="off">
            <div class="user-login-panel">               
                <div class="login-error"><?= $error_prompt ?></div>
                <div class="input">
                    <div class="input-content">
                        <input type="text" name="username" id="username" placeholder=" Username" size="50">
                    </div>
                </div>
                <div class="input">
                    <div class="input-content">
                        <input type="password" name="password" id="user-password" placeholder=" Password" size="50">
                    </div>
                </div>
                <div style="height:10px;"></div>
                <div class="input">
                    <div class="input-content">
                        <button id="loginBtn" class="btn-danger">LOG IN</button>
                    </div>
                </div>
                <div class="logo-img"><img src="public/img/yoko-black.png"></div>
                <div class="title">
                    <p>Global Resource</p>
                    <p>Management System</p>
                </div> 
            </div>
        </form>
    </div>
</div>
